@import url(reset.css);

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(assets/image\ 2.png);
  background: url(assets/image\ 2.png),
    linear-gradient(#000000 8%, #31a8dd, #000000);
  padding: 3rem;
}

.container-trilha {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.div-trilha {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

figure {
  display: flex;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
}

.logo {
  margin: auto;
}

.titulo-trilha {
  color: #3ba1cd;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

.descricao-trilha {
  color: white;
  width: 23rem;
  margin: auto;
  text-align: center;
}

button {
  color: #3ba1cd;
  font-weight: bold;
  padding: 0.6rem 1rem;
  border: 0.1rem solid #3ba1cd;
}

.button-trilha {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 6rem;
}

.section-modulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 43rem;
  gap: 1.2rem;
}

.container-modulos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-modulos {
  color: #3ba1cd;
  font-size: 2rem;
}

span {
  color: #3ba1cd;
}

.descricao-modulos {
  color: white;
  text-align: center;
}

.modulos {
  color: white;
  padding: 0.6rem;
  border: 0.1rem solid #3ba1cd;
  border-radius: 2rem;
  background-color: #252525;
  text-align: center;
  width: 30rem;
}

.section-mensagem {
  margin: 5rem -6rem 0 -6rem;
}

.frame {
  width: 100%;
}

.section-avaliacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 4.5rem;
}

.img-avaliacoes {
  width: 50rem;
}

.titulo-avaliacoes {
  text-align: center;
  font-size: 2rem;
  width: 40rem;
  color: #3ba1cd;
}

.descricao-avaliacoes {
  width: 44rem;
  text-align: center;
  color: white;
  margin-bottom: -2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.1rem solid #33a8db;
  padding: 2.5rem;
  background: linear-gradient(#000000 15%, #33a9db, #000000);
  gap: 1rem;
}

.descricao-rodape {
  color: white;
}
